In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {"grammer": ["python", "C", "java", "GO", np.nan, "SQL", "PHP", "Python"],
        "score": [1, 2, np.nan, np.nan, 5, 6, 7, 8]
        }

In [3]:
df = pd.DataFrame(data)
df

  grammer  score
0  python    1.0
1       C    2.0
2    java    NaN
3      GO    NaN
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python    8.0

In [12]:
df[df['grammer']=='python']
res = df['grammer'].str.contains("Python")
print(res)
res.fillna(value=False,inplace=True)
df[res]

0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
7     True
Name: grammer, dtype: object

  grammer  score
7  Python    8.0

In [17]:
print(df.columns)
df.rename(columns={"grammer": "language"}, inplace=True)
print(df.columns)

Index(['language', 'score'], dtype='object')
Index(['language', 'score'], dtype='object')

In [20]:
df['language'].value_counts()

python    1
C         1
java      1
GO        1
SQL       1
PHP       1
Python    1
Name: language, dtype: int64

In [21]:
df['score'] = df['score'].fillna(df['score'].interpolate())
df

  language  score
0   python    1.0
1        C    2.0
2     java    3.0
3       GO    4.0
4      NaN    5.0
5      SQL    6.0
6      PHP    7.0
7   Python    8.0

In [25]:
df[df['score'] > 3]
df.drop_duplicates(['language'], keep='first', inplace=True)

In [26]:
df['language'].tolist()

['python', 'C', 'java', 'GO', nan, 'SQL', 'PHP', 'Python']

In [30]:
cols = df.columns[[1, 0]]
df = df[cols]
df

   score language
0    1.0   python
1    2.0        C
2    3.0     java
3    4.0       GO
4    5.0      NaN
5    6.0      SQL
6    7.0      PHP
7    8.0   Python

In [31]:
temp = df[df['score']]
df.drop(labels=['score'], axis=1, inplace=True)
df.insert(0, 'score', temp)
df

KeyError: "None of [Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')] are in the [columns]"

In [39]:
row = {'score': 12, 'language': 'python2'}
df = df.append(row, ignore_index=True)
df

   score language
0    1.0   python
1    2.0        C
2    3.0     java
3    4.0       GO
4    5.0      NaN
5    6.0      SQL
6    7.0      PHP
7    8.0   Python
8   12.0  python2
9   12.0  python2

In [40]:
df.sort_values("score",inplace=True)
df

   score language
0    1.0   python
1    2.0        C
2    3.0     java
3    4.0       GO
4    5.0      NaN
5    6.0      SQL
6    7.0      PHP
7    8.0   Python
8   12.0  python2
9   12.0  python2

In [41]:
df['language']=df['language'].fillna("R")
df['lenstr']=df["language"].map(lambda x: len(x))
df

   score language  lenstr
0    1.0   python       6
1    2.0        C       1
2    3.0     java       4
3    4.0       GO       2
4    5.0        R       1
5    6.0      SQL       3
6    7.0      PHP       3
7    8.0   Python       6
8   12.0  python2       7
9   12.0  python2       7

In [ ]:
df = pd.read_csv()